<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Timestamp Microservice</title>
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
  <h1>Timestamp Microservice</h1>
  <div id="directionsContainer">
    <p>This app allows you to pass a string as a parameter, and checks whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)</p>
    <p>It then provides both the unix timestamp and the natural language date associated with that parameter as a JSON object</p>
  </div>
  <div id="exampleUsage">
    <div id="input">

    </div>
    <div id="output">
      <code>{"unix":599288400,"natural":"December 28, 1988"}</code>
    </div>
  </div>
</body>
</html>
